[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "*"
atomicwrites = "*"
bandit = "*"
beautifulsoup4 = "*"
chardet = "*"
config = "*"
decorator = "*"
fabric = "*"
future = "*"
gpiozero = "*"
graphviz = "*"
invocations = "*"
maxminddb-geolite2 = "*"
more-itertools = "*"
peewee = "*"
psutil = "*"
pyasn1 = "*"
pytest-cov = "*"
python-telegram-bot = "*"
scapy = "*"
schedule = "*"
wcwidth = "*"
webb = "*"
DateTime = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
