zmq==0.0.0
pyzmq==22.0.3
peewee==3.13.1
config==0.4.2
pytest==5.4.1
DateTime==4.3
graphviz==0.13.2
psutil==5.7.0
requests==2.23.0
beautifulsoup4==4.9.0
setuptools==54.1.1
fabric==2.6.0
invocations==2.0.0
invoke==1.5.0
python-telegram-bot==12.4.2